<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>GetCalculate</title>
</head>
<body>
<h1>Калькулятор</h1>


<form>
  <label for="a">Число</label>
  <input type="text" name="a" id="a" required style="margin-bottom: 20px"><br>

  <label for="b">Число</label>
  <input type="text" name="b" id="b" required style="margin-bottom: 20px"><br>

  <label for="action">Операция</label>
  <select name="action" id="action" style="margin-bottom: 20px">
    <option value="plus">+</option>
    <option value="min">_</option>
    <option value="multi">*</option>
    <option value="div">/</option>
  </select><br>

  <input type="submit" name="get" value="get" style="margin-bottom: 20px" formaction="/get" formmethod="get"><br>
  <input type="submit" name="post" value="post" style="margin-bottom: 20px" formaction="/post" formmethod="post"><br>


  <p>Результат</p>
  <p th:text="${result}"/>

</form>

</body>
</html>